
.icon-lightbulb:before { content: '\e800'; } /* '' */
.icon-temperatire:before { content: '\e801'; } /* '' */
.icon-bell:before { content: '\e802'; } /* '' */
.icon-prison:before { content: '\e82d'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
